<template>
    <v-simple-table>
        <thead>
        <tr>
            <th class="text-left"></th>
            <th class="text-left">Name</th>
            <th class="text-left">Surname</th>
            <th class="text-left">Occupation</th>
            <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="candidate of candidatesSorted" :key="candidate.id">
            <td class="person-name-td">
                <v-avatar
                        size="36px"
                        class="person-avatar"
                >
                    <v-img
                            v-if="candidate.photoUrl"
                            alt="Avatar"
                            :src="candidate.photoUrl"
                    >
                        <template v-slot:placeholder>
                            <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                            >
                                <v-progress-circular indeterminate color="grey lighten-1"></v-progress-circular>
                            </v-row>
                        </template>
                    </v-img>
                </v-avatar>
            </td>
            <td>{{ candidate.firstName }}</td>
            <td>{{ candidate.lastName }}</td>
            <td>{{ candidate.jobTitle }}</td>
            <td><candidate-modal :candidateId="candidate.id" /></td>
        </tr>
        </tbody>
    </v-simple-table>
</template>

<script>
    import CandidateModal from '@/components/CandidateModal'
    import { mapGetters } from 'vuex'
    export default {
        name: "CandidatesList",
        components: {
            CandidateModal
        },
        computed: {
            ...mapGetters([
                'loading',
                'candidates'
            ]),
            candidatesSorted() {
                const sortedList = []
                    Object.keys(this.candidates).forEach(key => {
                    let canddidate = this.candidates[key]
                    if (!(canddidate.id % 2) && canddidate.id > 0){
                        sortedList.push(canddidate)
                    }
                })
                return sortedList
            }
        },
    }
</script>

<style scoped>

</style>