<template>
    <v-dialog max-width="400" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn small class="primary" v-on="on">
                View Candidate
            </v-btn>
        </template>
        <v-card class=" pt-4 pb-4">
            <v-row
                    align="end"
                    class="fill-height ma-0 text-center"
            >
                <v-col
                        align-self="start"
                        class="pa-0"
                        cols="12"
                >
                    <v-avatar
                            class="profile ma-2"
                            color="grey"
                            size="164"

                    >
                        <v-img :src="candidate.photoUrl">
                            <template v-slot:placeholder>
                                <v-row
                                        class="fill-height ma-0"
                                        align="center"
                                        justify="center"
                                >
                                    <v-progress-circular indeterminate color="grey lighten-1"></v-progress-circular>
                                </v-row>
                            </template>
                        </v-img>
                    </v-avatar>
                </v-col>
                <v-col class="py-0">
                    <v-list-item
                            color="rgba(0, 0, 0, .4)"
                            dark
                    >
                        <v-list-item-content>
                            <v-list-item-title class="black--text title">Candidate ID: {{ candidate.id }}</v-list-item-title>
                            <v-list-item-subtitle class="black--text">Name: {{ candidate.firstName }}</v-list-item-subtitle>
                            <v-list-item-subtitle class="black--text">Surname: {{ candidate.lastName }}</v-list-item-subtitle>
                            <v-list-item-subtitle class="black--text">Occupation: {{ candidate.jobTitle }}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="warning" @click="modal = !modal">Close</v-btn>
                    </v-card-actions>
                </v-col>
            </v-row>
        </v-card>
    </v-dialog>
</template>

<script>

    import { mapGetters } from 'vuex'
    export default {
        name: "CandidateModal",
        props: ['candidateId'],
        data() {
            return{
                modal: false,
            }
        },
        computed: {
            ...mapGetters([
                'loading',
                'candidates'
            ]),
            candidate() {
                const id = this.candidateId
                return this.$store.getters.candidateById(id)
            }
        },
    }
</script>

<style scoped>
</style>