<template>
    <v-row v-if="!loading" dense align="center"
           justify="center">
        <v-col md="10">
            <candidates-list/>
        </v-col>
    </v-row>
    <v-container v-else>
        <v-layout row>
            <v-flex xs12 class="text-center mt-12 pt-12 progress-container">
                <v-progress-circular
                        :size="70"
                        :width="2"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import CandidatesList from '@/components/CandidatesList'
    import { mapGetters } from 'vuex'
    export default {
        name: "Home",
        data() {
            return {};
        },
        components: {
            CandidatesList
        },
        computed: {
            ...mapGetters([
                'loading',
            ]),
        },
    }
</script>

<style scoped>

</style>